In [49]:
import pandas as pd

path = "/kaggle/input/competitions/titanic/gender_submission.csv"
df = pd.read_csv(path)
df.shape

(418, 2)

In [50]:
df.columns.tolist()

['PassengerId', 'Survived']

In [52]:
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]